{% extends 'app/base.html' %}
{% load static %}
{% load staticfiles %}
{% block body1 %}

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">

<div id="container1" class="container" style="padding-left: 125px; padding-top: 25px">
	<h3 style="color:red;">{{error}}</h3>
	<h3 style="color:green;">{{success}}</h3>
  <div class="row">
  <div class="col-md-6">
	<form class="form-horizontal" action="" enctype="multipart/form-data"  method="post">
  {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
        <div class="text-danger">{{ field.errors }}</div>
        <label class="control-label col-sm-2" >{{ field.label_tag }}</label>
          <div class="col-sm-5">
    {{ field }}
    </div>
        </div>
  {% endfor %}
  <div class="form-group"> <div class="col-sm-2"></div><input type="submit" class=" btn btn-lg btn-info " name="submit" value="Submit" /></div>
           
	</form>
    </div>
	<div class="col-md-6">
  <p><a href="{% static 'Anticoding_Instructions.pdf' %}" class="btn btn-md btn-success">Instructions</a>
  <a href="{% static 'Anticoding_Problems.pdf' %}" class="btn btn-md btn-warning">Question</a></p>
	<img src={% static 'images/csalogo.png' %} alt="CSA logo">
	<h3 > Computer Science Association, BITS Pilani</h3>
	</div>
	
    
 </div>
 </div>

{% endblock %}
