{% extends 'app/base.html' %}
{% load static %}
{% load staticfiles %}
{% block body1 %}
		
	<section class="bg-secondary" id="about"> 
	 <div class="container">
	 <div class="col-lg-8 mx-auto text-center">
	 {% if done %}
		You are now registered! Login now.
		{% else %}
		<form class="form-horizontal" action="" enctype="multipart/form-data"  method="post">
		  {% csrf_token %}
		  {% for field in userform %}
				<div class="form-group">
				<div class="text-danger">{{ field.errors }}</div>
				<label class="control-label" >{{ field.label_tag }}</label>
				  <div class="">
				{{ field }}
			</div>
				</div>
		  {% endfor %}
		  
				{% for field in form %}
				<div class="form-group">
				<div class="text-danger">{{ field.errors }}</div>
				<label class="control-label" >{{ field.label_tag }}</label>
				  <div class="">
				{{ field }}
			</div>
				</div>
		  {% endfor %}
		  <div class="form-group"> <div class="col-sm-2"></div><input type="submit" class=" btn btn-lg btn-info " name="submit" value="Submit" /></div>
				   
			</form>
	  
	  {% endif %}
	  </div>
	  </div>

	</section>
    
	
{% endblock %}
